.info {
    margin-top: 40px;
}

/*team*/

.team {
    margin-top: 100px;
}

.team-wrapper {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3;
}

.team-content {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.team-block {
    border: 1px solid #d9d9d9;
    max-width: 736px;
    width: 100%;
    display: flex;
    gap: 30px;
}

.team-block__info {
    margin-top: 30px;
}

.team-block__info p:first-child {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
}

.team-block__info p:nth-child(2) {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    margin-top: 10px;
}

.team-block__info a:first-child {
    margin-top: 20px;
}

.team-block__info a {
    font-weight: 600;
    font-size: 20px;
    color: #000;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 6px;
}

/*awards*/

.awards {
    margin-top: 100px;
}

/*articles*/

.articles {
    margin-top: 100px;
}

.articles-list {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.articles-list li {
    max-width: 358px;
    width: 100%;
    border: 1px solid var(--gray-shape);
    border-radius: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.articles-list li img {
    width: 100%;
}

.articles-list li p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.35;
    margin-top: 15px;
    margin-bottom: 12px;
    padding: 0 14px 0 15px;
}

.articles-list li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    text-decoration: underline;
    color: var(--black-text);
    padding-left: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: auto;
}

    /*details*/

.details {
    margin-top: 100px;
}

.details-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.details-list li {
    display: flex;
    /*justify-content: space-between;*/
    padding: 17px 30px;
}

.details-list li:nth-child(odd) {
    background: var(--gray-shape-2);
}

.details-list li span:first-child {
    font-weight: 600;
    font-size: 17px;
    line-height: 1.3;
    color: #000;
    width: 50%;
}

.details-list li span:last-child {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.3;
    color: #000;
    width: 50%;
}

@media screen and (max-width: 1492px) {

    .info {
        margin-top: 50px;
    }

    /*team*/

    .team-block {
        max-width: 580px;
        gap: 20px;
    }

    .team-block img {
        width: 280px;
    }

    .team-block__info {
        margin-top: 20px;
    }

    .team-block__info p:first-child {
        font-size: 18px;
    }

    .team-block__info p:nth-child(2) {
        font-size: 16px;
        margin-top: 7px;
    }

    .team-block__info a {
        font-size: 16px;
        margin-top: 13px;
    }


    /*awards*/

    /*articles*/

    .articles-list {
        gap: 15px;
    }

    .articles-list li {
        max-width: 284px;
    }

    .articles-list li p {
        font-size: 16px;
        padding: 0 15px 0 15px;
    }

    .articles-list li a {
        font-size: 16px;
    }

    /*details*/

}

@media screen and (max-width: 768px) {

    .info {
        margin-top: 20px;
    }

    /*team*/

    .team {
        margin-top: 50px;
    }

    .team-wrapper {
        margin-top: 7px;
        gap: 30px;
    }

    .team-wrapper div:first-child {
        padding-bottom: 30px;
        border-bottom: 1px solid var(--gray-shape);
    }

    .team-subtitle {
        font-size: 16px;
    }

    .team-content {
        margin-top: 30px;
        gap: 25px;
    }

    .team-block {
        border: none;
        max-width: none;
        gap: 10px;
        flex-direction: column;
    }

    .team-block__info {
        margin-top: 0;
    }

    .team-block__info p:first-child {
        font-size: 16px;
    }

    .team-block__info p:nth-child(2) {
        font-size: 14px;
        margin-top: 3px;
    }

    .team-block__info a:first-child {
        margin-top: 12px;
    }

    .team-block__info a {
        font-size: 14px;
        margin-top: 10px;
        gap: 5px;
    }

    .team-block__info a svg {
        width: 17px;
        height: 17px;
    }


    /*awards*/

    .awards {
        margin-top: 50px;
    }

    /*articles*/

    .articles {
        margin-top: 50px;
    }

    .articles-list {
        margin-top: 20px;
        gap: 25px;
        flex-direction: column;
    }

    .articles-list li {
        max-width: none;
        border: none;
        padding-bottom: 25px;
        border-bottom: 1px solid var(--gray-shape);
    }

    .articles-list li:last-child {
        border: none;
        padding-bottom: 0;
    }

    .articles-list li img {
        width: 245px;
    }

    .articles-list li p {
        font-size: 16px;
        margin-top: 12px;
        margin-bottom: 8px;
        padding: 0;
    }

    .articles-list li a {
        font-size: 16px;
        padding-left: 0;
        gap: 3px;
    }

    /*details*/

    .details {
        margin-top: 50px;
    }

    .details-list {
        margin-top: 20px;
    }

    .details-list li {
        display: flex;
        flex-direction: column;
        gap: 8px;
        /*justify-content: space-between;*/
        padding: 12px 0 15px 0;
    }

    .details-list li span:first-child {
        font-size: 15px;
        width: 100%;
    }

    .details-list li span:last-child {
        font-size: 15px;
        width: 100%;
    }
}