.designers {
    margin-top: 35px;
    padding: 60px 0;
    background: var(--blue);
}

.designers-title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: var(--white);
}

.designers-desc {
    margin-top: 15px;
    max-width: 1192px;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
    color: var(--white);
}

/*rfa*/

.rfa {
    margin-top: 80px;
}

/*3d*/

.stp {
      margin-top: 80px;
  }

.stp-list {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.stp-list li {
    max-width: 358px;
    width: 100%;
    display: flex;
    gap: 17px;
    align-items: start;
    border-radius: 10px;
    background: var(--gray-form);
    padding: 15px 0 22px 17px;
}

.stp-list li p {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
}

.stp-list li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}

.stp-btn {
    margin: 45px auto 0;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 10px;
    height: 55px;
    width: 1114px;
    display: flex;
    justify-content: center;
    align-items: center;
}