/*guarantee*/

.guarantee {
    margin-top: 35px;
    margin-bottom: 60px;
}

.guarantee p {
    margin-top: 10px;
    max-width: 925px;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
}

.guarantee .guarantee-desc {
    margin-top: 15px;
    max-width: 910px;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
}

@media screen and (max-width: 1492px) {
    /*guarantee*/
    .guarantee {
        margin-top: 45px;
    }
}

@media screen and (max-width: 1024px) {
    /*guarantee*/

    .guarantee {
        margin-top: 25px;
        margin-bottom: 70px;
    }

    .guarantee p {
        font-size: 16px;
    }

    .guarantee .guarantee-desc {
        font-size: 16px;
    }

}

@media screen and (max-width: 768px) {
    .guarantee {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .guarantee p {
        margin-top: 7px;
        font-size: 14px;
    }

    .guarantee .guarantee-desc {
        margin-top: 12px;
        font-size: 14px;
    }

}