.header-top {
    background: #2e2e2e;
    padding: 21px 0 20px;
}

.header-top .container {
    display: flex;
    justify-content: space-between;
}

.header-top p {
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
}

.header-top__address {
    display: flex;
    gap: 5px;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    position: relative;
}

.header-nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background:  var(--gray-shape);
}

.header-nav a {
    font-weight: 500;
    font-size: 18px;
    color: var(--black-text);
    transition: all 0.3s ease;
}

.header-nav a:hover {
    color: var(--blue);
}

.nav-btn {
    font-weight: 500;
    font-size: 18px;
    color: var(--black-text);
    display: flex;
    gap: 7px;
    align-items: center;
    transition: all .3s ease;
}

.nav-btn:hover .arrow path{
    fill: var(--blue);
}

.nav-btn:hover {
    color: var(--blue);
}

    /* стрелка */
.nav-btn .arrow {
    transition: all .3s ease;
}

.nav-btn.active .arrow {
    transform: rotate(180deg);
}

/* скрытый список */
.dropdown {
    display: none;
    flex-direction: column;
    margin-top: 12px;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 1px 99px 0 rgba(22, 22, 22, 0.04), 0 17px 39px 0 rgba(22, 22, 22, 0.02);
    background: #fff;
    border: 1px solid var(--gray-shape);
    position: absolute;
    z-index: 20;
    width: 240%;
}

.dropdown li a {
    padding: 12px 0 12px 20px;
    display: block;
    font-weight: 400;
    font-size: 18px;
    color: var(--black-text);
    transition: all 0.3s ease;
}

.dropdown li a:hover {
    background: var(--gray-shape);
    color: var(--black-text);
}

.has-dropdown {
    position: relative;
}

.header-wrapper {
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper.is-fixed {
    position: fixed;
    max-width: 1492px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: #fff; /* или твой цвет */
    z-index: 500; /* выше всего */
    /*box-shadow: 0 4px 20px rgba(0,0,0,0.08);*/
}

.header-content {
    display: flex;
    align-items: center;
    gap: 57px;
}

.header-block {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-tel {
    font-weight: 500;
    font-size: 22px;
    color: var(--black-text);
    display: flex;
    gap: 7px;
    align-items: center;
    transition: all 0.3s ease;
}

.header-tel-wrap {
    position: relative;
    display: inline-block;
}

.header-tel-dropdown {
    position: absolute;
    top: -50%; /* отступ 12px */
    left: -27px;
    /*width: 100%;*/
    box-shadow: 0 1px 99px 0 rgba(22, 22, 22, 0.04), 0 17px 39px 0 rgba(22, 22, 22, 0.02);
    background: #fff;
    display: none;
    flex-direction: column;
    z-index: 20;
    border: 1px solid var(--gray-shape);
    border-radius: 10px;
    width: 229px;
}

.header-tel-dropdown a {
    padding: 12px 13.5px;
    font-weight: 500;
    font-size: 22px;
    color: var(--black-text);
    transition: all 0.3s ease;
}

.header-tel-dropdown a:hover {
    background: var(--gray-shape-2);
}

.header-tel:hover {
    color: var(--blue);
}

.header-tel:hover svg path {
    fill: var(--blue);
}

.header-tel svg path {
    transition: all 0.3s ease;
}

.search-wrapper {
    position: relative;
    width: 100%;
    max-width: 682px; /* можно изменить */
}

.search-icon {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: stroke 0.2s ease;
}

.search-wrapper:hover .search-icon path {
    stroke: var(--blue); /* синяя при наведении */
}

.header-search {
    background: var(--gray-form);
    border-radius: 10px;
    width: 682px;
    height: 60px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    color: var(--black-text);
}

.header-search::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-text);
}

/* ПОДСКАЗКИ */
.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none; /* скрыто пока пользователь не ввел текст */
    z-index: 200;
}

.search-item {
    padding: 15px 0 12px 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
    border: 1px solid var(--gray-shape);
    border-radius: 10px;
    box-shadow: 0 1px 99px 0 rgba(22, 22, 22, 0.04), 0 17px 39px 0 rgba(22, 22, 22, 0.02);
    background: var(--gray-form);
    transition: all 0.3s ease;
}

.search-name {
    font-weight: 600;
    font-size: 16px;
    color: var(--black-text);
}

.search-price {
    font-weight: 500;
    font-size: 16px;
    color: var(--black-text);
}

.search-item:hover {
    box-shadow: 0 1px 99px 0 rgba(22, 22, 22, 0.04), 0 17px 39px 0 rgba(22, 22, 22, 0.02);
    background: var(--gray-shape);
}

.header-search::-webkit-search-decoration,
.header-search::-webkit-search-results-button,
.header-search::-webkit-search-results-decoration {
    display: none;
}

/* Убираем стандартный крестик очистки в Chrome/Safari */
.header-search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}


.header-catalog {
    font-weight: 600;
    font-size: 18px;
    color: var(--white);
    border-radius: 10px;
    padding: 10px 25px;
    width: 147px;
    height: 60px;
    background: var(--blue);
    display: flex;
    gap: 7px;
    align-items: center;
    transition: all 0.3s ease;
}

.header-catalog:hover {
    background: #244e9c;
}

.catalog-overlay {
    position: fixed;
    background: rgba(22, 22, 22, 0.6);
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    transition: 0.3s;
    /*display: flex;*/
    /*justify-content: center;*/
    z-index: 200;
    overflow-y: auto; /* ← ВАЖНО */
}

.catalog-overlay.open {
    opacity: 1;
    visibility: visible;
}

.catalog-block {
    background: #fff;
    width: 925px;
    border-radius: 25px;
    display: flex;
    position: relative;
    top: 176px;
    left: 0;
}

.catalog-overlay ul {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.catalog-overlay ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 96px;
    background: var(--gray-shape-2);
}

.catalog-overlay ul li:hover p {
    color: var(--blue);
}

.catalog-overlay ul li p svg path {
    transition: all 0.3s ease;
}

.catalog-overlay ul li:hover p svg path {
    stroke: var(--blue);
}

.catalog-overlay ul li:hover {
    background: var(--gray-blue);
}

.catalog-overlay ul li:first-child{
    border-radius: 20px 20px 0 20px;
}

.catalog-overlay ul li:last-child {
    border-radius: 20px 20px 0 20px;
}

.catalog-block ul li p {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--black-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 27px;
    width: 80%;
    transition: all 0.3s ease;
}

.catalog-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 121px;
}

.catalog-img-wrapper div {
    width: 121px;
}

.catalog-overlay ul li.active {
    background: #f3f3f3;
}

.catalog-submenu {
    position: absolute;
    top: 0;
    right: 0; /* справа от меню */
    width: 50%;
    background: #fff;
    padding: 40px 0 0 40px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    border-top-right-radius: 25px;
}

.catalog-submenu h3 {
    font-weight: 600;
    font-size: 23px;
    line-height: 130%;
    color: var(--black-text);
}

.catalog-submenu ul {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.catalog-submenu ul li {
    padding: 0;
    background: 0;
    height: auto;
    display: block;
}

.catalog-submenu ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
}

.catalog-submenu ul li:hover {
    background: none;
}

.catalog-submenu ul li a:hover {
    color: var(--blue);
}

.catalog-submenu ul li a:hover svg path {
    transition: all 0.3s ease;
}

.catalog-submenu ul li a:hover svg path {
    stroke: var(--blue);
}

.catalog-submenu.open {
    opacity: 1;
    pointer-events: auto;
}


.close-catalog {
    position: absolute;
    top: 22px;
    right: 22px;
    transition: all 0.3s ease;
}

.close-catalog:hover svg path {
    stroke: var(--blue);
}


@media screen and (max-width: 1492px) {

    .header img {
        width: 228px;
    }

    /* скрытый список */
    .dropdown {
        position: absolute;
        z-index: 20;
        width: 240%;
        left: -40%;
    }

    .dropdown li a {
        padding: 12px 0 12px 20px;
        display: block;
        font-weight: 400;
        font-size: 18px;
        color: var(--black-text);
        transition: all 0.3s ease;
    }

    .header-wrapper.is-fixed {
        max-width: 1180px;
    }

    .header-content {
        gap: 31px;
    }

    .header-block {
        gap: 10px;
    }

    .header-tel-dropdown {
        top: -50%; /* отступ 12px */
        left: -37px;
    }

    .search-wrapper {
        max-width: 531px; /* можно изменить */
    }

    .header-search {
        width: 531px;
    }

}

@media screen and (max-width: 1024px) {

    .header img {
        width: 162px;
    }

    .header-top {
        padding: 20px 0;
    }

    .header-top p {
        font-size: 14px;
    }

    .header-nav {
        padding-top: 20px;
    }

    .header-nav a {
        font-size: 16px;
    }

    .nav-btn {
        font-size: 16px;
        gap: 4px;
    }

    /* скрытый список */
    .dropdown {
        margin-top: 10px;
        width: 240%;
        left: -50%;
    }

    .dropdown li a {
        padding: 12px 0 12px 20px;
        font-size: 16px;
    }

    .header-wrapper {
        padding: 15px 0 20px 0;
    }

    .header-wrapper.is-fixed {
        max-width: 960px;
    }

    .header-content {
        gap: 27px;
    }

    .header-block {
        gap: 10px;
    }

    .header-tel {
        font-size: 18px;
        gap: 5px;
    }

    .header-tel-dropdown {
        left: -60px;
        /*width: 100%;*/
        width: 227px;
    }

    .header-tel-dropdown a {
        font-size: 18px;
    }

    .search-wrapper {
        max-width: 402px; /* можно изменить */
    }

    .search-icon {
        right: 15px;
    }

    .header-search {
        width: 402px;
        height: 50px;
    }

    .search-item {
        padding: 15px 0 12px 15px;
    }

    .header-catalog {
        font-size: 16px;
        width: 120px;
        height: 50px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .catalog-block {
        top: 142px;
    }

    .catalog-block ul li p {
        font-size: 18px;
    }

    .catalog-submenu h3 {
        font-size: 20px;
    }

    .catalog-submenu ul li a {
        font-size: 18px;
    }

}

@media screen and (max-width: 768px) {
    .header {
        display: none;
    }
}