/*price*/

.price {
    margin-top: 35px;
    margin-bottom: 100px;
}

.price-content {
    padding: 15px 0 22px 17px;
    border-radius: 10px;
    width: 358px;
    background: var(--gray-form);
    display: flex;
    gap: 17px;
    align-items: start;
    transition: all 0.3s ease;
}

.price-content:hover {
    background: var(--blue);
}

.price-content:hover p {
    color: var(--white);
}

.price-content:hover a {
    color: var(--white);
}

.price-content:hover svg path{
    stroke: var(--white);
    fill: var(--white);
}

.price-content p {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    transition: all 0.3s ease;

}

.price-content a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    text-align: right;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1492px) {
    /*price*/

}

@media screen and (max-width: 768px) {
    /*price*/

    .price {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .price-content {
        padding: 12px 0 15px 12px;
        width: 100%;
        gap: 12px;
    }

    .price-content svg {
        width: 28px;
        height: 30px;
    }

    .price-content p {
        margin-bottom: 4px;
        font-size: 16px;
    }

    .price-content a {
        font-size: 16px;
        gap: 2px;
    }

    .price-content a svg {
        width: 16px;
        height: 16px;
    }
}

